{% extends "base.html" %}
{% block content %}
<h2> Opting Out </h2>
<p>
    You have been opted out of the study because either  (1) you
    clicked the "opt-out" option on the survey or (2) you indicated
    a lack of understanding of the survey. <strong> Please return the HIT on
    Amazon Mechanical Turk to complete your opting-out</strong>.
</p>
<p>
    If you feel you've reached this page by mistake, you can restart
    the survey <a href="/"> here </a> by entering your
    startcode. You will be brought to the last uncompleted portion
    of the survey.
</p>
<p>
    If you have any questions, please contact the requester via
    Amazon Mechanical Turk. A typical reply is within 24 hours, or
    sooner.
</p>
{% endblock %}
