{% extends "base_optout.html" %}
{% block content %}
{% load static %}
<h2>Practice</h2>

<script type="text/javascript">var prefix = '{{prefix}}';</script>
{% include "knocknock.html" %}
<script type="text/javascript">if(!(Lockr.get("starttime", false))){Lockr.set("starttime", Date.now());}</script>
<div id="centered-buttons">
	<input type="button" id="reset_btn" onclick="reset('{% autoescape off %}{{scenario}}{% endautoescape %}')" value="Retry" style="display:inline-block;">
	<input type="button" id="next_btn" onclick="pract_next()" value="Next" style="display:inline-block;" disabled="true">
	<input type="button" id="continue_practice_btn" onclick="pract_continue()" value="Continue" style="display:none;">
</div>
<form id="resultForm" action="/" method="post">{% csrf_token %}
  <input type="hidden" id="code" name="code">
  <input type="hidden" id="time" name="time">
  <input type="hidden" id="taps" name="taps">
</form>
<script type="text/javascript">document.getElementById("next_btn").scrollIntoView(false);</script>
{% endblock %}
